.footer {
    background-color: #eee;
    padding: 50px 0;
}

.footer h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer a {
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease;
}

.footer a:hover {
    color: #777;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-wrap: nowrap;
    }

    .footer-container .logo-container {
        flex: 1 1 auto;
        margin-bottom: 0;
    }

    .footer-container .social-links {
        flex: 0 1 auto;
        margin-bottom: 0;
    }
}