.Cabecera{
    width: 100%;
    background-color: aqua;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Cabecera-h1{
    background-color: blueviolet;
}
.Cabecera-a{}

.Cabecera-button{
        background-color: crimson;
        display: none;
}
.Cabecera-svg{
    width: 2em;
    height: 2em;
}

.Cabecera-nav{
    background-color: bisque;
}
.Cabecera-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Cabecera-li{
    margin: 0 .5em;
}


.Cabecera{
    background-color: red;
}

@media screen and (max-width:480px) {
    
    .Cabecera-button{
        display: flex;
    }

    .Cabecera-nav{
        width: 100%;
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Cabecera-nav.isActive{
        display: flex;
    }


    .Cabecera-ul{
        flex-direction: column;
    }

    .Cabecera-li{
        margin: .5em 0;
    }
}
